.container {
  padding: 10px;
  border-bottom: 1px dashed #333;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.description {
  width: 100%;
  padding: 5px;
}
