.container {
  padding: 10px;
  border-bottom: 1px dashed #333;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pomodoro, .pause {
  font-weight: bold;
}

.pomodoro {
  color: rgb(177, 0, 0);
}

.pause {
  color: rgb(45 137 18);
}

.description {
  width: 100%;
  padding: 5px;
}
