.container {
  padding: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.description {
  width: 100%;
  background-color: #eee;
  padding: 5px;
}
